.itemDetailContainer{
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemDetail{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 70%;
    width: 70%;
    border-radius: 20px;
}

.itemDetailImageContainer{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100%;
    width: 50%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.itemDetailImage{
    height: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
}

.texCounterContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.textDetailContainer{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    
}

.itemDetailTitle{
    padding: 0;
    font-size: 2.7rem;
    text-align: center;
}

.itemDetailDescription{
    font-size: 1.3rem;
    width: 90%;
    display: flex;
    align-self: center;
    text-align: center;
    justify-content: center;
}

.itemDetailPrice{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(76, 192, 65);
    margin-top: 5px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
}

.itemDetailPrice h4{
    font-size: 1.2rem;
}

.itemDetailCounterContainer{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;

}

