.containerView{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    z-index: 1;
    height: 70%;
    width: 100%;
}

button{
    display: flex;
    flex-direction: row;
    margin-top: -20px;
    /* margin-bottom: 30px; */
}

p{
    font-size: 1rem;
    font-family: Raleway;
}

