.containerView{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    height: 100%;
    width: 100%;
}

button{
    display: flex;
    flex-direction: row;
}

p{
    font-size: 1rem;
}