
.popCart{
    background-color: red;
    border-radius: 50px;
    height: 25px;
    width: 25px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    transform: translate(15px, -10px);
    z-index: 40;
}

.cart{
    color: black;
    cursor: pointer;
}

.cartWithPop{
    z-index: 30;
}

.cartWithPop:hover{
    color: rgb(39, 105, 167);
    cursor: pointer;
}

.cart:hover{
    color: rgb(39, 105, 167);
    cursor: pointer;
}