.popCart{
    background-color: red;
    border-radius: 50px;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    right: 7%;
    top: 10%;
    font-weight: 700;
    font-size: 1rem;
}

.cart{
    color: black;
    cursor: pointer;
}

.cart:hover{
    color: rgb(39, 105, 167);
    cursor: pointer;
}