.homeContainer{
 height: 100vh;
 width: 100%;
 display: flex;
 justify-content: flex-start;
 align-items: center;
 flex-direction: column;
}

.homePageBg{
    display: flex;
    position: absolute;
    background: url("../../img/bg_sushi.jpg") no-repeat fixed center;
    -webkit-background-size: cover;
    background-size: cover;
    mix-blend-mode: darken;
    height: 100%;
    width: 100% ;
    opacity: 0.5;
}

.naonWhite{
    z-index: 999;
    height: 25%;
    margin-top: 14%;
}

.homeHeader{
    z-index: 999;
    height: 50px;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeHeader p{
    margin: 4%;
    margin-top: 10%;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.cartHome{
    background-color:white;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    align-self: flex-start;
}
