.Nav-header {
    background-color: white;
    height: 70px;
    display: flex;
    flex-direction: wrap;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: rgb(31, 31, 31);
}

.Logo{
    height: 30px;
}

.Nav-header ul{
    display: flex;
    flex-direction: wrap;
    align-items: center;
    justify-content: center;
    width: 75%;
    padding: 0%;
    padding-right: 60px;
}

.Nav-header ul li{
    list-style: none;
    display: inline;
    padding: 10px;
}

.Nav-header ul li:hover{
    list-style: none;
    display: inline;
    padding: 10px;
    color: rgb(39, 105, 167);
    cursor: pointer;
}
